@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f13033;
  --primary-color-dark: #c3282b;
  --secondary-color: #f9f9f9;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.section__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.section__nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section__nav span {
  padding: 0 7px;
  font-size: 1.75rem;
  color: var(--text-dark);
  border: 1px solid var(--text-dark);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.section__nav span:hover {
  color: var(--white);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--primary-color-dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

.header {
  background-image: url("assets/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__logo a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
}

.link a:hover {
  color: var(--primary-color);
}

.header__container {
  padding: 5rem 1rem 10rem;
}

.header__container h1 {
  margin-bottom: 4rem;
  max-width: 1000px;
  margin-inline: auto;
  font-size: 3.5rem;
  color: var(--white);
  text-align: center;
}

.header__form {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.header__form form {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--white);
  border-radius: 10px;
}

.input__group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input__group label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.input__group input {
  max-width: 140px;
  outline: none;
  border: none;
  font-size: 0.9rem;
}

.trending__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.trending__card {
  
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}


.trending__card img {
  margin-bottom: 1rem;
  border-radius: 10px;
}

.trending__card p {
  font-size: 0.9rem;
  color: var(--text-light);
}

.trending__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.trending__details {
  padding-block: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.trending__details p {
  font-weight: 500;
  color: var(--text-dark);
}

.trending__details h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.trending__ratings span {
  font-size: 0.9rem;
  color: goldenrod;
}

.trending__ratings p {
  text-align: right;
}

.trending__card h5 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.trending__card h5 span {
  font-size: 1.2rem;
  color: var(--primary-color);
}

.trending__card p span {
  font-size: 1.2rem;
  color: var(--primary-color);
}

.trending__card:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.destination__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 350px repeat(3, 1fr);
  grid-auto-rows: max-content;
  gap: 1.5rem;
}

.destination__card {
  position: relative;
}

.destination__card:nth-child(1) {
  grid-area: 1/1/3/2;
}

.destination__card:nth-child(2) {
  grid-area: 1/2/2/4;
}

.destination__card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.destination__details {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.destination__details h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.destination__details p {
  font-size: 0.9rem;
  color:white;
}

.footer__container {
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
  background-color:rgb(56, 102, 121)
  
}

.footer__col h5 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color:var(--text-dark);
}


.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__col a {
  display: block;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  transition: 0.3s;
}

.footer__col a:hover {
  color: var(--primary-color);
}


